<form action=“/cats” method="POST">
<input type="hidden" name="_methods" value="PATCH">


<label for="name">Cat Name</label>
<input type="text" name="cat[name]" id="name" value="cat[name]"> 
<br>

<label for="M">Male</label>
<input type="radio" name="cat[sex]" id="M">
<label for="F">Female</label>
<input type="radio" name="cat[sex]" id="F">

<br>

<label for="color">Choose Any Color</label>
<select name="cat[color]" id="color">
<option disabled selected>-- Choose A Color --</option>
<option value="black" <%=@cat.color=="black"?"selected":""%> >black</option>
<option value="white">white</option>
<option value="brown">brown</option>
<option value="orange">orange</option>
</select>

<br>

<label for='date'>Birth Date</label>
<input id="date" type="date" name="cat[birth_date]" value="cat[birth_date]">

<br>

<label for="description">Description</label>
<textarea name="cat[description]" id="description" value="cat[description]"></textarea>

<input type="submit" value="submit">


</form>
